/* ---------- Popup Styles ---------- */

main {
	padding: 4rem 2rem 2rem;
	overflow-y: auto;
	transition:
		opacity var(--popup-fade-out-duration) ease,
		visibility var(--popup-fade-out-duration) ease;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	right: 1rem;
	top: 6rem;
	width: 45%;
	height: calc(100vh - 8rem);
	background-color: var(--cream);
	color: var(--dark-grey);
	border: 2px solid var(--orange);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 10;
	opacity: 0.85;
}

body.content-mode main {
	opacity: 0;
	visibility: visible;
	transition:
		opacity var(--popup-fade-in-duration) ease,
		visibility var(--popup-fade-in-duration) ease;
}

@media (max-width: 600px) {
	main {
		width: 90%;
		max-width: 400px;
		padding: 1rem;
		transition:
			opacity var(--popup-fade-out-duration) ease,
			visibility var(--popup-fade-out-duration) ease;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		right: 1rem;
		top: 40vh;
		left: auto;
		bottom: auto;
		max-height: calc(100vh - 55vh);
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}

	main.popup-scrollable {
		overflow-y: auto;
	}

	body.content-mode main {
		opacity: 0;
		background-color: var(--cream);
		color: var(--dark-grey);
		border: 2px solid var(--orange);
		transition:
			opacity var(--popup-fade-in-duration) ease,
			visibility var(--popup-fade-in-duration) ease;
	}
}
